/*  color */
/* //#02866F */
 body,
html {
  margin: 0 auto; 
  /* background-color: rgb(225, 230, 227); */
  /* background-attachment: fixed;  */
 } 

 

#nav {
  padding: 20px;
}

.portfolio {
  text-align: center;
  font-weight: 500;
  padding-top: 10%;
  font-size: 60px;
  font-family: Verdana;
  color: #f7f7f7;
}

.nav-link {
  color: rgba(144, 45, 79, 0.9);
  margin: 0 auto;
}

#background-image {
  background-image: url('/imgs/portfolio.jpg');
  height: 100vh;
  width: auto;
  background-position: center;
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-size: cover;
  transition:  all 3s ease-in-out;
 /* background: url('/imgs/portfolio.jpg') no-repeat center center fixed;
   webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */ 
}

#about {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0;
}

.jumbotron {
  background-color: rgb(231, 236, 233);
  margin-bottom: 0;
}

.intro {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 9px;
  line-height: 2em;
}

#background-image-2 {
  background-image: url('/imgs/secondbg.jpg');
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed;  */
}

#skills {
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 1%;
  padding-bottom: 0;
}

#pskill {
  text-align: center;
  color: rgba(255, 255, 255, 0.988);
  font-size: 30px;
}

.progress-bar {
  color: red;
}

.about-container {
  background-color: #f7f7f7;
  -webkit-box-shadow: 4px 4px 4px #808e80;
          box-shadow: 4px 4px 4px #808e80;
  border-radius: 10px;
  padding: 30px;
}

.progress {
  margin: 10px;
}

.skills-logos {
  width: 30%;
}

.project {
  text-align: center;
  padding: 20px;
}

.project-h3 {
  padding: 15px;
}

.full-width {
  width: 100%;
  -webkit-box-shadow: 1px 3px 2px grey;
          box-shadow: 1px 3px 2px grey;
}

.form-background {
  background-color: #808e80;
}

.to-do {
  margin-bottom: 30px;
}

.to-do-lists {
  margin: 20px;
}

#contact {
  padding: 25px;
}

.links {
  font-size: 40px;
}

#portfolioh1{
  padding-top: 8%;
}

/* MEDIA QUERIES FOR PHONE SCREEN */
/* @media only screen and (max-width: 600px) {
  #background-image, #background-image-2{
    width: 100%;
  }
} */

/* @media (max-width: 576px) {
  #background-image {
      background-position: 25% 25%;
  }
} */